@page "/AddProduct"
@using BlazorProds.Shared


<PageTitle>Add Products</PageTitle>

<div class="container1">
  <div class="Product">
    <Addproduct @ref="addProduct" OnAddProduct="Addproduct"></Addproduct>
    </div>
   <div class="Products">
       
          
                @foreach (var product in Products)
                {
                    <SProduct product="product" onDelete="Delete" onEdit="Edit"></SProduct>
                }
            
       

    </div>
 
</div>



@code {
    public Addproduct addProduct { get; set; }
    public List<Product> Products { get; set; } = new List<Product>();
    public void Addproduct(Product newProduct)
    {
        var mem = Products.Find(x => x.Id == newProduct.Id);

        if (mem == null)
        {
            newProduct.Id = Guid.NewGuid();
            Products.Add(newProduct);

        }
        else
        {
            mem.Name = newProduct.Name;
            mem.Description = newProduct.Description;
            mem.Image = newProduct.Image;
            mem.Price = newProduct.Price;

        }
    }
    public void Delete(Product product)
    {
        Products.Remove(product);
    }
    public void Edit(Product product)
    {
        addProduct.Edit(product);
    }
}
