* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list {
 width: 90vw;
    max-width: 900px;
     margin: 0 auto;
     @* border: 1px solid black; *@
}


img 
{
    width: 100%;
    display: block;
    object-fit: cover;
}
@media (min-width: 900px) 
{
    .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
   
    }


}